{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/init.css' %}">
{% endblock %}

{% block content %}
<div id="center">
    <h5>You must accept geolocation popup if you want to access to the closst results around you.</h5>
    <p>If you change your mind and then desire to access to the closest reults, you just need to clear the browser cache or authorize goelocation in the browser option.</p>
    <a href="{% url 'dates' 1 %}"><h5>Or, click here to see the next chronological results.</h5></a> 
</div>

<form action="" name="geolocation" method="post" style="display:none;" id="hidden-form">
    {% csrf_token %}
    <input type="text" name="gps" value="" id="hidden-input"/>
</form>

{% load static %}
<script src="{% static 'js/geolocation.js' %}"></script>
{% endblock %}