{% extends 'base.html' %}

{% block title %}Liste par dates{% endblock %}

{% block content %}
<nav aria-label="Page navigation example">
    <p>pagination: </p>
    <ul class="pagination">
        {% if pages.prev > 0 %}
        <li class="page-item">
        <a class="page-link" href="{% url 'home' pages.prev %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% endif %}
        {% if pages.next < total %}
        <li class="page-item">
        <a class="page-link" href="{% url 'home' pages.next %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% include '_shows.html' %}
{% endblock %}