{% extends 'base.html' %}

{% block title %}
{% if geoloc %}
Proches de moi
{% else %}
Liste par dates
{% endif %}
{% endblock %}

{% block content %}
<h5 class="mt-2">
{% if geoloc %}
Les spectacles à venir autour de moi :
{% else %}
Tous nos spectacles triés par dates :
{% endif %}
</h5>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if pages.prev > 0 %}
        <li class="page-item">
        <a class="page-link" href="{% url 'dates' pages.prev %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% endif %}
        {% if pages.next < total %}
        <li class="page-item">
        <a class="page-link" href="{% url 'dates' pages.next %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% include '_shows.html' %}
{% endblock %}