{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static "css/payment.css" %}">
{% endblock %}

{% block title %}Reservation{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card text-white bg-info mb-3 mt-3" >
            <div class="card-header">{{ show.name }} - <small>{{ show.city }}</small></div>
            <div class="card-body">
                <h5 class="card-title">{{ show.price }} €/pers</h5>
                <p class="card-text">Remaining seats : {{ show.left_seats }} </p>
            </div>
        </div>
    </div>
</div>
{% if max_error %}
<div class="alert alert-danger" role="alert">Impossible de réserver plus de places qu'il n'en reste...</div>
{% endif %}

<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-info">Réserver</button>
</form>
{% endblock %}